*{
    margin : 0;
    padding : 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    font-family: sans-serif; 
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header {
    background: linear-gradient(to right, red, orange);
    text-align: center;
    padding: 2rem;
    font-weight: bold;
}
.nav {
    background: purple;
    color: white;
    text-align: center;
    padding: 0.5rem;
}

.content {
    display: flex;
    flex: 1;
}

.left-side {
    background: lightgreen;
    flex: 1;
    text-align: center;
    padding: 1rem;
}

.main-content {
    background: lightgray;
    flex: 2;
    text-align: center;
    padding: 1rem;
    color: red;
    font-weight: bold;
}

.right-side {
    background: khaki;
    flex: 1;
    text-align: center;
    padding: 1rem;
}

.footer {
    background: linear-gradient(to right, teal, lightgreen);
    text-align: center;
    padding: 3rem;
}