* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    display: grid;
    grid-template-areas: 
        "header header header"
        "nav nav right"
        "left1 main right"
        "left2 main right"
        "footer footer footer";
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: auto 50px 1fr 1fr auto;
    min-height: 100vh;
    padding: 10px;
}

.header {
    grid-area: header;
    background: linear-gradient(to right, #ff4e50, #f9d423);
    text-align: center;
    padding: 50px;
    font-weight: bold;
    font-size: 24px;
    color: white;
}

.nav {
    grid-area: nav;
    background-color: purple;
    color: white;
    text-align: center;
    font-weight: bold;
    padding: 10px;
}

.left1 {
    grid-area: left1;
    background-color: #b0ff9d;
    padding: 10px;
    text-align: center;
    font-weight: bold;
}

.left2 {
    grid-area: left2;
    background-color: #84e4f7;
    padding: 10px;
    text-align: center;
    font-weight: bold;
}

.main {
    grid-area: main;
    background-color: lightgray;
    padding: 20px;
    text-align: center;
    font-weight: bold;
    color: red;
    font-size: 20px;
}

.right {
    grid-area: right;
    background-color: #ffe57f;
    padding: 10px;
    text-align: center;
    font-weight: bold;
}

.footer {
    grid-area: footer;
    background: linear-gradient(to right, #009688, #8bc34a);
    text-align: center;
    padding: 50px;
    font-weight: bold;
    color: white;
}
